parameters:
    level: max

    checkMissingIterableValueType: false

    paths:
        - /source/src
    bootstrapFiles:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
        - /source/NGEssentials/src/libasyncio/stub/ZStandard/zstd.php
    scanDirectories:
        - /source/src
        - /source/NGEssentials/src
    excludes_analyse:
        - /source/NGEssentials/src/libReplay